main .container h1 {
  font-size: 24px;
  text-align: center;
  margin: 36px 0;
}
main .container h2 {
  padding: 20px 0;
}
main .container h3 {
  font-size: 18px;
  padding: 10px 0;
  margin: 30px 0 0;
}
main .container p {
  padding: 20px 0;
  font-size: 16px;
}
main .container img {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
}
main .wrapper.top {
  background-color: #ffefef;
}
main .container.top2 {
  padding: 60px 20px;
}
main .green {
  background-color: #efffef;
}
main .blue {
  background-color: #efefff;
}
main a.contribute {
  display: block;
  text-align: center;
  padding: 16px;
  font-weight: 800;
  color: #0066cc;
}
main .last {
  padding: 80px 20px;
}

@media screen and (max-width: 599px) {
  main .container {
    padding: 40px 20px;
  }
  main .container h1 {
    margin: 22px 0;
  }
  main .container h3 {
    margin: 0;
  }
  main .container p {
    padding: 14px 0;
  }
}