main .container {
  padding: 0 20px;
  margin: 60px auto;
}
main .container h1 {
  text-align: center;
  font-size: 24px;
}
main .container h1 span.hello-world {
  font-size: 32px;
  padding: 0 4px;
  background: linear-gradient(90deg, #3b10e7, #e300ae);
  background: -webkit-linear-gradient(0deg, #6f00ed, #e300ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .container h1 span.fermat {
  font-size: 30px;
  background: linear-gradient(90deg, #45b400, #07a6e0);
  background: -webkit-linear-gradient(0deg, #00dc49, #00c3d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .container h2 {
  font-size: 20px;
  padding: 20px 0;
  margin: 20px 0 0;
}
main .container a.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 10px auto;
  border: solid #333 2px;
  border-radius: 14px;
  overflow: hidden;
}
main .container a.link-card p.title {
  font-size: 18px;
  font-weight: 600;
  padding: 4px 20px;
  line-height: 1em;
}
main .container a.link-card p.url {
  font-size: 12px;
  padding: 2px 20px;
  line-height: 1em;
}
main .container a.link-card img {
  width: 200px;
}
main .container img.full-img {
  width: 100%;
  border-radius: 14px;
  margin: 20px 0;
}
main .container p {
  padding: 10px 0;
}
main .container p a {
  color: #0066cc;
  font-weight: 600;
}

@media screen and (max-width: 599px) {
  main .container h1 {
    font-size: 22px;
  }
  main .container h1 span.hello-world {
    font-size: 30px;
  }
  main .container h1 span.fermat {
    font-size: 28px;
  }
  main .container a.link-card p.title, main .container a.link-card p.url {
    padding: 2px 14px;
  }
  main .container a.link-card img {
    width: 160px;
  }
}