header {
    background-color: #eee;
    
    nav {
        display: flex;
        justify-content: space-around;

        a {
            h1 {
                font-size: 26px;
            }
        }

        ul {
            display: flex;

            a {
                li {
                    padding: 12px 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 599px) {
    header {
        nav {
            ul {
                display: none;
            }
        }
    }
}