header {
    nav.pc, nav.sp {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px #888 solid;

        a.home-link {
            display: flex;
            justify-content: left;
            padding: 10px;

            img {
                width: 34px;
                height: 34px;
            }

            h1 {
                font-size: 22px;
                padding: 6px 4px;
                line-height: 1em;
            }
        }

        ul {
            display: flex;
            padding: 0 8px;

            a {
                margin: 20px 16px;

                li {
                    font-size: 14px;
                    line-height: 1em;
                    font-weight: 600;
                }
            }
        }

        a.sp-menu {
            display: none;
        }
    }

    nav.sp {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    header {
        nav.pc {
            display: none;
        }

        nav.sp {
            display: block;

            .topbar {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px #888 solid;

                input {
                    display: none;
                }

                button {
                    border: none;
                    background-color: transparent;

                    svg {
                        display: block;
                        width: 26px;
                        height: 26px;
                        margin: 14px;
                        fill: black;
                    }
                }
            }

            ul {
                display: block;
                padding: 0;

                a {
                    display: block;
                    text-align: center;
                    background-color: #111;
                    color: #fff;
                    margin: 0;
                    padding: 10px 14px;
                }
            }
        }
    }
}