$tag: (
    (
        class: 'markdown',
        description: 'いい言語',
        color: hsl(204, 100%, 43%),
    ),
    (
        class: 'app',
        description: 'ネイティブ',
        color: #00d440,
    ),
    (
        class: 'three-d',
        description: '3次元',
        color: hsl(294, 100%, 45%),
    ),
    (
        class: 'goldmark',
        description: '世界最速のウェブサイト構築フレームワーク',
        color: #259dff,
    ),
    (
        class: 'highlight',
        description: '世界最速のウェブサイト構築フレームワーク',
        color: #ea0071,
    ),
);

