header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    padding: 0 10px;

    .logo-and-openstudy {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 12px;

        svg {
            width: 32px;
            height: 32px;
            fill: #31beff;
        }

        h1 {
            font-size: 26px;
            font-weight: 300;
            letter-spacing: 1.2px;
            padding: 0 2px;
        }
    }

    .search-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        background-color: #eee;
        border-radius: 9999px;
        padding: 8px 18px;
        
        i {
            font-size: 14px;
            color: #999;
        }

        span {
            font-size: 14px;
            color: #999;
            padding: 0 4px;
        }
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        padding: 0 12px;

        li {
            font-size: 14px;
            font-weight: 500;
            padding: 8px 12px;
        }

        i {
            font-size: 22px;
            padding: 4px 12px;
        }
    }
}



@media screen and (max-width: 999px) {
    header {
        height: 44px;

        .logo-and-openstudy {
            padding: 0;

            svg {
                width: 28px;
                height: 28px;
            }

            h1 {
                font-size: 20px;
                letter-spacing: 0.6px;
            }
        }

        .search-box {
            padding: 6px 14px;
            margin: 0 6px;

            i {
                font-size: 12px;
            }

            span {
                font-size: 12px;
            }
        }

        ul {
            padding: 0;

            li {
                font-size: 12px;
                padding: 6px 6px;
            }

            i {
                font-size: 20px;
                padding: 6px;
            }
        }
    }
}



@media screen and (max-width: 369px) {
    header {
        padding: 0 8px;

        .search-box {
            padding: 6px 10px;
            margin: 0 4px;

            span {
                display: none;
            }
        }
    }
}