$myColor: hsl(306, 100%, 50%);

nav.navTree {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    z-index: 1;
    width: 320px;
    padding-right: 20px;
    border-right: solid 1px #ccc;

    .category-link-container {
        background: -webkit-linear-gradient(0deg, $myColor, adjust-color($myColor, $hue: -20));;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom-style: solid;
        border-image-source: linear-gradient(to right, $myColor, transparent);
        border-image-slice: 1;
        border-width: 2px;
        padding: 10px 12px;

        h3 {
            font-size: 30px;
        }

        label {
            display: none;
        }
    }

    input {
        display: none;
    }

    > ul {
        margin: 4px 0;
    }

    ul {
        list-style-type: none;

        li {
            font-size: 14px;
            padding: 6px 12px;
            
            &.current {
                background-color: rgba($myColor, 0.08);
                color: adjust-color($myColor, $lightness: -10%);
                font-weight: 500;
                border-radius: 0 10px 10px 0;
            }
        }

        .nav-section {
            > li {
                padding: 6px 10px;
                word-wrap: break-word;
                font-weight: 600;
            }

            > li.closed {
                &::before {
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                    content: "\f054";
                    width: 16px;
                    text-align: center;
                    padding-right: 6px;
                }

                & + ul {
                    display: none;
                }
            }

            > li:not(.closed) {
                &::before {
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                    content: "\f078";
                    width: 16px;
                    text-align: center;
                    padding-right: 6px;
                }
            }

            ul {
                li {
                    padding-left: 30px;
                }

                .nav-section {
                    > li {
                        padding-left: 30px;
                    }

                    ul {
                        li {
                            padding-left: 50px;
                        }
                    }
                }

                &.closed {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 999px) {
    nav.navTree {
        position: static;
        overflow-y: visible;
        width: auto;
        height: auto;
        padding: 0 24px;
        margin: 0;
        border: none;

        #navTree-checkbox:not(:checked) + ul {
            display: none;
        }

        .category-link-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 6px;

            h3 {
                font-size: 24px;
            }

            label {
                display: block;
                line-height: 1em;
                font-size: 20px;
                cursor: pointer;
            }
        }

        ul {

            li {
                &.current {
                    border-radius: 12px;
                }
            }
        }
    }
}