.wrapper {
    background-image: conic-gradient(from 90deg at -10% 100%, #fff 0deg, hsl(200, 50%, 80%) 90deg, #fff 1turn);

    &.top {
        background: linear-gradient(to bottom, #fff, hsl(200, 100%, 96%));

        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 540px;

            svg {
                display: block;
                position: absolute;
                width: 400px;
                height: 400px;
                stroke: #fff;
                stroke-width: 6px;
                fill: none;
                filter: drop-shadow(0 0 8px hsl(200, 100%, 70%));
                margin: 0 auto;
            }

            h1 {
                position: absolute;
                text-align: center;
                font-size: 50px;
                font-weight: 600;
                color: hsl(200, 90%, 8%);
                padding: 0 12px;

                span.crystal {
                    background: -webkit-linear-gradient(0deg, hsl(200, 100%, 50%), hsl(195, 100%, 50%));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .container.category {
        max-width: 1200px;
        padding: 60px 20px;
        margin: 0 auto;
        
        .category-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            a.category-item {
                display: block;
                width: calc(100% / 8);
                padding: 18px 0;
    
                img {
                    display: block;
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                }
    
                p {
                    color: #666;
                    font-weight: 500;
                    font-size: 12px;
                    text-align: center;
                    padding: 8px 0;
                }
            }
        }
    }

    .container {
        padding: 80px 20px;

        h2 {
            text-align: center;
            font-size: 34px;
            margin: 36px 0;
        }

        h3 {
            font-size: 24px;
            margin: 50px 0 10px;
        }

        h4 {
            font-size: 18px;
            margin: 30px 0 10px;
        }

        p {
            font-size: 16px;
            margin: 20px 0;
        }

        ul {
            width: fit-content;
            margin: 0 auto;
            padding-left: 20px;

            li {
                font-size: 20px;
                margin: 6px 0;

                strong {
                    background: linear-gradient(transparent 80%, #b3b3b3 80%);
                }
            }
        }

        .person-text-container {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .person-text {
                i {
                    display: block;
                    font-size: 50px;
                    width: 60px;
                    text-align: center;
                    padding: 12px 6px;
                }
            }
        }

        .openstudy-github {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 4px #000;
            border-radius: 18px;
            margin: 14px 0;

            svg {
                width: 100px;
                margin: 10px 10px;
            }

            i.fa-xmark {
                font-size: 60px;
            }

            i.fa-github {
                font-size: 90px;
                margin: 10px 20px;
            }
        }

        i.fa-arrow-down {
            display: block;
            font-size: 50px;
            width: 60px;
            text-align: center;
            padding: 12px;
            margin: 0 auto;
        }

        i.fa-file-lines {
            display: block;
            font-size: 50px;
            width: 60px;
            text-align: center;
            padding: 12px;
            margin: 0 auto;
        }

        pre {
            background-color: #fff;
            border: solid 2px #ccc;
            border-radius: 16px;
            padding: 24px 28px;
            margin: 0 0 30px;
            color: #555;
            overflow-x: scroll;
    
            code {
                font-family: 'Roboto Mono', monospace;
                font-size: 14px;
                padding: 0;
                margin: 0;
            }
        }

        iframe {
            width: 100%;
            height: 500px;
            border: solid 2px #ccc;
            border-radius: 16px;
            background-color: #fff;
        }

        a.contribute {
            display: block;
            width: fit-content;
            margin: 0 auto;
            font-weight: 800;
            color: #0066cc;
        }
    }
}



@media screen and (max-width: 999px) {
    .wrapper {
        &.top {
            .container {
                height: 400px;

                svg {
                    height: 300px;
                    width: 300px;
                }

                h1 {
                    font-size: 36px;
                }
            }
        }

        .container.category {
            padding: 30px 16px;
        }
    }
}



@media screen and (max-width: 799px) {
    .wrapper {
        .container.category {
            .category-container {
                a.category-item {
                    width: calc(100% / 6);
                    padding: 14px 0;
                }
            }
        }

        .container {
            h2 {
                font-size: 28px;
            }

            ul {
                li {
                    font-size: 18px;
                }
            }

            .person-text-container {
                .person-text {
                    i {
                        font-size: 44px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 499px) {
    .wrapper {
        &.top {
            .container {
                svg {
                    height: 250px;
                    width: 250px;
                }

                h1 {
                    font-size: 26px;
                }
            }
        }

        .container.category {
            .category-container {
                a.category-item {
                    width: calc(100% / 4);
                    padding: 12px 0;
                }
            }
        }

        .container {
            .openstudy-github {
                svg {
                    width: 78px;
                }

                i.fa-xmark {
                    width: 40px;
                }

                i.fa-github {
                    font-size: 70px;
                }
            }
        }
    }
}