{{ define "main" }}
    <div class="wrapper top">
        <div class="container">
            {{ .Site.Data.openstudy_logo.svg | safeHTML }}
            <h1>すべてのエンジニアの<span><span class="crystal">知識の結晶</span>を</span><br>最高に分かりやすく<span>次世代へ</span></h1>
        </div>
    </div>

    <div class="wrapper">
        <div class="container category">
            <div class="category-container">
                {{ range .Site.Sections.ByTitle }}

                    {{/*  Exclude "Contribute" and "Others" category  */}}

                    {{ if and (ne .Title "Contribute") (ne .Title "Others") }}
                        <a href="{{ .RelPermalink }}" class="category-item">
                            {{ if fileExists ((.Title | lower) | printf "static/thumbnails/%s" | printf "%s.svg") }}
                                <img src="{{ .Site.BaseURL }}thumbnails/{{ .Title | lower }}.svg" alt="Category-Thumbnail">
                            {{ else if fileExists (.Title | lower) | printf "static/thumbnails/%s" | printf "%s.png" }}
                                <img src="{{ .Site.BaseURL }}thumbnails/{{ .Title | lower }}.png" alt="Category-Thumbnail">
                            {{ end }}
                            <p>{{ .Title }}</p>
                        </a>
                    {{ end }}
                {{ end }}

                {{/*  "Others" category comes last  */}}

                <a href="{{ .Site.BaseURL }}others/" class="category-item">
                    <img src="{{ .Site.BaseURL }}thumbnails/others.svg" alt="Category-Thumbnail">
                    <p>Others</p>
                </a>
            </div>
        </div>
    </div>

    {{ .Site.BaseURL }}
    <a href="{{ .Site.BaseURL }}">sample link</a>

    <div class="wrapper">
        <div class="container">
            <h2><span>技術ブログや</span><span>Qiita、</span><span>Zennなどの場合</span></h2>
            <div class="person-text-container">
                <div class="person-text">
                    <i class="fa-solid fa-user-pen"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                    <i class="fa-regular fa-file-lines"></i>
                </div>
                <div class="person-text">
                    <i class="fa-solid fa-user-pen"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                    <i class="fa-regular fa-file-lines"></i>
                </div>
                <div class="person-text">
                    <i class="fa-solid fa-user-pen"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                    <i class="fa-regular fa-file-lines"></i>
                </div>
            </div>
            <h2><span>基本的に</span><span>1つの記事は</span><span>1人が書いたもの</span></h2>
            <ul>
                <li>情報が<strong>断片的</strong>になる</li>
                <li>他の人の記事を<strong>修正できない</strong></li>
                <li>情報が重複するため書き手の<strong>労力が増える</strong></li>
                <li>読み手が目的の情報を見つけるのに<strong>時間がかかる</strong></li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <h2>OpenStudyでは</h2>
            <div class="person-text-container">
                <div class="person-text">
                    <i class="fa-solid fa-user-pen"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
                <div class="person-text">
                    <i class="fa-solid fa-user-pen"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
                <div class="person-text">
                    <i class="fa-solid fa-user-pen"></i>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
            </div>
            <div class="openstudy-github">
                {{ .Site.Data.openstudy_logo.svg | safeHTML }}
                <i class="fa-solid fa-xmark"></i>
                <i class="fa-brands fa-github"></i>
            </div>
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-regular fa-file-lines"></i>
            <h2><span>すべての人が</span><span>既存の記事に</span><span>追記、</span><span>修正もできる</span></h2>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <h2><span>強力な知識の</span><span>データベースです</span></h2>
            <p>少数の人がすべてを網羅するよりも、多数の人が各々の得意分野を書いた方が圧倒的に有利であり、効率もいいはずです。</p>
            <p>記事が編集されればされるほど、多くのエンジニアの知識が凝集した、正確かつ有用で価値のあるページになります。</p>
            <h3>パワフルな Hugo とシンプルな Markdown</h3>
            <p>高速な静的サイトジェネレーターのHugoを使用しているため、記事の分類やタグ付けが非常に簡単です。</p>
            <p>多くの人の共同執筆でありながらシンプルなため、記事を書くことだけに集中できます。</p>
            <h4>Markdown</h4>
            <pre>
<code>+++
title = "Markdownの書き方"
description = "一般的な記法に加えて、OpenStudyで使える記法を説明します。記事を作成する際の参考にしてください。"
tag = ["Markdown"]
contributor = ["lin-24-ia"]
+++

# 見出し

```text
# 大見出し
## 見出し
### 小見出し
```

OpenStudyでは、HTMLにレンダリングされるとそれぞれが に対応します。目次に表示されるのは大見出しと見出しのみです。

# リスト

## 番号なしリスト

ハイフン`-`、プラス`+`、アスタリスク`*`のいずれかを先頭に記述します。スペース4つでネストできます。</code></pre>
        <i class="fa-solid fa-arrow-down"></i>
        <h4>HTML</h4>
        <iframe src="{{ .Site.BaseURL }}contribute/markdown-cheetsheet/"></iframe>
        <h3>GitHubで管理しています</h3>
        <p>OpenStudyのコンテンツはGitHubで公開しているオープンソースです。どなたでも、新しい記事を作成したり、既存の記事に追記、修正できます。</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <h2><span>あなたの知識が</span><span>大きな力になります</span></h2>
            <a href="{{ .Site.BaseURL }}contribute" class="contribute">Contribute</a>
        </div>
    </div>
{{ end }}