{{ define "main" }}
    {{ $hierarchy := partial "function/fetchHierarchy" . }}

    <div class="navTree-article-container">

        {{/*  Navigation Tree  */}}
        {{ partial "navTree.html" . }}
        
        <div class="article-container">
            <h1 class="title">{{ .Title }}</h1>
            <p class="description">{{ .Description }}</p>

            <ul class="list-index">
                {{ range .RegularPages }}
                    <a href="{{ .RelPermalink }}"><li>{{ .Title }}</li></a>
                {{ end }}
            </ul>
        </div>
    </div>
{{ end }}