{{ define "main" }}
    <div class="article-container">
        <nav class="tree">
            {{ $hierarchy := partial "function/fetchHierarchy" . }}
            <a href="{{ (index $hierarchy 1).RelPermalink }}">
                <h3>{{ (index $hierarchy 1).Title }}</h3>
            </a>
            {{ template "navTree" (dict "section" (index $hierarchy 1) "current" .) }}
        </nav>
        <div class="articleSide">
            <h1>{{ .Title }}</h1>
            <p class="description">{{ .Description }}</p>
            <div class="container">
                <div class="list-index">
                    {{ $hierarchy := partial "function/fetchHierarchy" . }}
                    {{ template "navTree" (dict "section" . "current" .) }}
                </div>
            </div>
        </div>
    </div>
{{ end }}