{{ define "main" }}
    <div class="article-container">
        <nav class="tree">
            {{ $hierarchy := partial "function/fetchHierarchy" . }}
            <a href="{{ (index $hierarchy 1).RelPermalink }}">
                {{ $class := "" }}
                {{ if eq .RelPermalink (index $hierarchy 1).RelPermalink }}
                    {{ $class = "current" }}
                {{ end }}
                <h3 class="{{ $class }}">{{ (index $hierarchy 1).Title }}</h3>
            </a>
            {{ template "navTree" (dict "section" (index $hierarchy 1) "current" .) }}
        </nav>
        <div class="articleSide">
            <div class="dates">
                <div class="release-date">
                    <i class="fa-solid fa-earth-americas"></i>
                    <time>{{ .Date.Format "2006/01/02" }}</time>
                </div>
                <div class="update-date">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <time>{{ .Lastmod.Format "2006/01/02" }}</time>
                </div>
                <div class="views">
                    <i class="fa-solid fa-eye"></i>
                    <span>1.6K</span>
                </div>
                <div class="thanks">
                    <i class="fa-solid fa-heart"></i>
                    <span>653</span>
                </div>
            </div>
            <div class="top-image">
                {{ with .Params.TopImage }}
                    <img src="/images/categoryIcon/{{ . }}" alt="">
                {{ end }}
            </div>
            <h1>{{ .Title }}</h1>
            <p class="description">{{ .Description }}</p>
            <div class="container">
                <ul class="tags">
                    {{ with .Params.tags }}
                        {{ range . | sort }}
                            <a href="/tags/{{ . | lower }}" class="{{ . | lower }}">
                                <li>{{ . }}</li>
                            </a>
                        {{ end }}
                    {{ end}}
                </ul>
                <aside>
                    <div class="contributors">
                        <div class="contributors-label">
                            <span class="description">作成した人</span>
                            {{ with .Params.author }}
                                <span class="personNum">{{ . | len }}</span>
                            {{ end }}
                        </div>
                        <div class="contributors-icon">
                            {{ with .Params.author }}
                                {{ range . }}
                                    <a href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer">
                                        <img src="https://github.com/{{ . }}.png" alt="">
                                    </a>
                                {{ end }}
                                {{ if gt (. | len) 9}}
                                    <i class="fa-solid fa-plus"></i>
                                {{ end }}
                            {{ end}}
                        </div>
                    </div>
                    <div class="button">
                        <div class="give-thanks">
                            <i class="fa-regular fa-heart"></i>
                            <span>thanks!</span>
                        </div>
                        {{ $path := "" }}
                        {{ if .IsSection }}
                            {{ $path = print (.RelPermalink | path.Clean) "/_index.md" }}
                        {{ else }}
                            {{ $path = print (.RelPermalink | path.Clean) ".md" }}
                        {{ end }}
                        <a href="https://github.com/lin-24-ia/OpenStudy/tree/main/content{{ $path }}" target="_blank" rel="noopener noreferrer">
                            <div class="link-to-repo">
                                <i class="fa-solid fa-code-pull-request"></i>
                                <span>編集する</span>
                            </div>
                        </a>
                    </div>
                </aside>
                {{ with .TableOfContents }}
                    <div class="index">
                        <label class="indexTitle" for="id-1">目次</label>
                        <input id="id-1" type="checkbox">
                        {{ . }}
                    </div>
                {{ end }}
                <article>
                    {{ .Content }}
                </article>
            </div>
        </div>
    </div>
{{ end }}