{{ define "main" }}
    {{ $hierarchy := partial "function/fetchHierarchy" . }}

    <div class="navTree-article-container">

        {{/*  Navigation Tree  */}}
        {{ partial "navTree.html" . }}
        
        <div class="article-container">
            {{ with .Params.CategoryEyecatch }}
                <div class="category-eyecatch">
                    <img src="/images/categoryIcon/{{ . }}" alt="Category-Eyecatch">
                </div>
            {{ end }}

            <h1 class="title">{{ .Title }}</h1>
            <p class="description">{{ .Description }}</p>

            <div class="views-thanks-tags-container">
                {{/*  <div class="views-thanks-inner">
                    <div class="views">
                        <i class="fa-solid fa-eye"></i>
                        <span>1.6K</span>
                    </div>
                    <div class="thanks">
                        <i class="fa-solid fa-heart"></i>
                        <span>653</span>
                    </div>
                </div>  */}}
                <ul class="tags">
                    {{ with .Params.tags }}
                        {{ range . | append ((index $hierarchy 1).Title) | sort }}
                            <a href="/tags/{{ . | lower }}">
                                <li class="{{ . | lower }}">{{ . }}</li>
                            </a>
                        {{ end }}
                    {{ end}}
                </ul>
            </div>

            <div class="contributors-container">
                <div class="contributors">
                    <div class="contributors-label">
                        <span>作成した人</span>
                        {{ with .Params.author }}
                            <span class="person-count">{{ . | len }}</span>
                        {{ end }}
                    </div>
                    <div class="contributors-icon">
                        {{ with .Params.author }}
                            {{ range . }}
                                <a href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer">
                                    <img src="https://github.com/{{ . }}.png" alt="Contributors-icon">
                                </a>
                            {{ end }}
                            {{ if gt (. | len) 9}}
                                <i class="fa-solid fa-plus"></i>
                            {{ end }}
                        {{ end}}
                    </div>
                </div>

                <div class="thanks-repo-button">
                    {{/*  <div class="give-thanks">
                        <i class="fa-regular fa-heart"></i>
                        <span>thanks!</span>
                    </div>  */}}

                    {{ $path := "" }}
                    {{ if .IsSection }}
                        {{ $path = print (.RelPermalink | path.Clean) "/_index.md" }}
                    {{ else }}
                        {{ $path = print (.RelPermalink | path.Clean) ".md" }}
                    {{ end }}
                    <a href="https://github.com/lin-24-ia/OpenStudy/tree/main/content{{ $path }}" target="_blank" rel="noopener noreferrer">
                        <div class="repository">
                            <i class="fa-solid fa-code-pull-request"></i>
                            <span>編集する</span>
                        </div>
                    </a>
                </div>
            </div>

            {{ with .TableOfContents }}
                <div class="table-of-contents">
                    <label for="table-of-contents-checkbox">目次</label>
                    <input type="checkbox" id="table-of-contents-checkbox">
                    {{ . }}
                </div>
            {{ end }}

            <article class="{{ (index $hierarchy 1).Params.Color }}">
                {{ .Content }}
            </article>
        </div>
    </div>
{{ end }}