{{ define "main" }}
    <div class="container">
        <h1>すべてのタグ</h1>
        <ul class="terms">
            {{ range $index, $term := .Site.Taxonomies.tags.ByCount }}
                <a href="{{ .Page.RelPermalink }}">
                    <div class="tagicon-container">
                        <li class="{{ .Name }}">{{ .Page.Title }}</li>
                    </div>
                    <p class="tag-description {{ .Name }}"></p>
                    <div class="item-container">
                        <i class="fa-solid fa-tag"></i>
                        <p class="count">{{ $term.Count }}</p>
                    </div>
                </a>
            {{ end }}
        </ul>
    </div>
{{ end }}