<head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {{ if .Page.IsHome }}
            OpenStudy
        {{ else }}
            {{ .Title }} - OpenStudy
        {{ end }}
    </title>
    
    <meta name="description" content="{{ .Description }}">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="/favicon/favicon96.ico" size="96x96">
    <link rel="apple-touch-icon" href="images/oapple-touch-icon180.png">


    <!-- Open Graph Protocol -->
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:image" content="/images/OpenStudy.png" />
    <meta property="og:locale" content="ja_JP" />


    <!-- Google Fonts for Logo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- for text -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- for code block -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    
    <!-- Basic CSS -->
    {{ $s := slice "default" "header" "footer" }}
    {{ range $s }}
        {{ $path := . | printf "sass/%s" | printf "%s.scss" }}
        {{ $style := resources.Get $path | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}

    <!-- Top Page CSS -->
    {{ if .IsHome }}
        {{ $style := resources.Get "sass/top.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}

    <!-- 404 Page CSS -->
    {{ if eq .Kind "404" }}
        {{ $style := resources.Get "sass/404.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}


    <!-- Section and Article Page CSS -->
    {{ $hierarchy := partial "function/fetchHierarchy" . }}
    {{ $include := slice "navTree" "single" "alert" }}
    {{ $categories := slice }}
    {{ $categoryColor := slice }}

    {{ range .Site.Sections }}
        {{ $categories = $categories | append (.Title | lower) }}
        {{ $categoryColor = $categoryColor | append .Params.Color }}
    {{ end }}
    <!-- Parameter that passed to scss -->
    {{ $vars := dict "current_category_title" ((index $hierarchy 1).Title | lower) "current_category_color" ((index $hierarchy 1).Params.Color | string) "category_title" $categories "category_color" $categoryColor }}
    {{ $opts := dict "vars" $vars }}

    {{ if or .IsPage .IsSection }}
        {{ range $include }}
            {{ $path := . | printf "sass/%s" | printf "%s.scss" }}
            {{ $style := resources.Get $path | toCSS $opts | minify | fingerprint }}
            <link rel="stylesheet" href="{{ $style.Permalink }}">
        {{ end }}
    {{ end }}


    <!-- Taxonomy Terms Page CSS -->
    {{ $categoryTitle := slice }}
    {{ $categoryColor := slice }}
    {{ $categoryDescription := slice }}

    {{ range .Site.Sections }}
        {{ $categoryTitle = $categoryTitle | append (.Title | lower) }}
        {{ $categoryColor = $categoryColor | append .Params.Color }}
        {{ $categoryDescription = $categoryDescription | append .Params.Description }}
    {{ end }}

    {{ $vars := dict "category_title" $categoryTitle "category_color" $categoryColor "category_description" $categoryDescription }}
    {{ $opts := dict "vars" $vars }}

    {{ if eq .Kind "taxonomy" }}
        {{ $style := resources.Get "sass/terms.scss" | toCSS $opts | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}


    <!-- Taxonomy Lists Page CSS -->
    {{ $hierarchy := partial "function/fetchHierarchy" . }}
    {{ $categoryTitle := slice }}
    {{ $categoryColor := slice }}

    {{ range .Site.Sections }}
        {{ $categoryTitle = $categoryTitle | append (.Title | lower) }}
        {{ $categoryColor = $categoryColor | append .Params.Color }}
    {{ end }}

    {{ $vars := dict "category_title" $categoryTitle "category_color" $categoryColor }}
    {{ $opts := dict "vars" $vars }}

    {{ if eq .Kind "term" }}
        {{ $style := resources.Get "sass/taxonomy.scss" | toCSS $opts | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}

    
    <!-- Google Search Console -->
    <meta name="google-site-verification" content="rYJHGR_uUcxmqkD9mSn79HxxWq4ikIz755zQGjaf87A" />


    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/973e7a8373.js" crossorigin="anonymous"></script>


    <!-- Katex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    <!-- enable `$ inline-katex $` -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "\\[", right: "\\]", display: false},
                    {left: "$", right: "$", display: true},
                    {left: "\\(", right: "\\)", display: false}
                ]
            });
        });
    </script>
</head>