<header>
    {{ if not .Page.IsHome }}
        <a href="{{ .Site.BaseURL }}">
    {{ end }}
            <div class="logo-and-openstudy">

                {{/*  OpenStudy logo  */}}

                {{ .Site.Data.openstudy_logo.svg | safeHTML }}
                <h1>OpenStudy</h1>
            </div>
    {{ if not .Page.IsHome }}
        </a>
    {{ end }}

    <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Search</span>
    </div>
    
    <ul>
        <a href="/contribute/"><li>Contribute</li></a>
        <a href="https://github.com/lin-24-ia/OpenStudy" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
        </a>
    </ul>
</header>