{{/*  Fetch hierarchy of current page  */}}

{{ $hierarchy := partial "function/fetchHierarchy" . }}

<nav class="navTree">
    <div class="category-link-container">
        <a href="{{ (index $hierarchy 1).RelPermalink }}">
            <h3>{{ (index $hierarchy 1).Title }}</h3>
        </a>

        {{/*  for sp menu  */}}

        <label for="navTree-checkbox">
            <div class="navTree-button"></div>
        </label>
    </div>
    <input type="checkbox" id="navTree-checkbox">

    {{/*  navigation tree comes here  */}}
    
    {{ template "treeGenerator" (dict "section" (index $hierarchy 1) "current" .) }}
</nav>