{{/*  Fetch depth of current page  */}}
{{ $hierarchy := partial "function/fetchHierarchy" . }}

{{/*  Navigation Tree  */}}
<nav class="navTree">

    {{/*  Link to the top level category of current page  */}}
    <a href="{{ (index $hierarchy 1).RelPermalink }}">

        {{/*  If current page is top level category, add class "current"  */}}
        {{ $class := "" }}
        {{ if eq .RelPermalink (index $hierarchy 1).RelPermalink }}
            {{ $class = "current" }}
        {{ end }}
        <h3 class="{{ $class }}">{{ (index $hierarchy 1).Title }}</h3>
    </a>

    {{/*  <ul> navigation tree comes here  */}}
    {{ template "treeGenerator" (dict "section" (index $hierarchy 1) "current" .) }}
</nav>